{% extends "navbar.html" %} {% block content %}
<h1>Bookworms database</h1>
<div class="querybox">
</div>
<form action="/search" method="post" class="queryform">
  <div class="querybox">
  <input maxlength=50 type="text" id="form" name="search_text" placeholder="Search for title or author..."  />
  <input type="submit" name="punkid" id="button" value="Go"/>
  </div>
</form>


<div class="cards">
  {%for i in range(0,length)%}
  <a href="/punk/{{content[i][0]}}">
    <div class="card">
      <img
        src="/static/images/{{content[i][0]}}.png"
        alt="Avatar"
        class="image"
      />
      <div class="container">
        <h4><b>{{content[i][1]}}</b></h4>
        <p class="card-text">Title: {{content[i][1]}}</p>
        <p class="card-text">Author: {{content[i][2]}}</p>
        <p class="card-text">Publisher: {{content[i][3]}}</p>
        <p class="card-text">Published: {{content[i][4]}}</p>
      </div>
    </div>
  </a>
  {%endfor%}
</div>

{% endblock content %}
